@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;

  --text-xl: 48px;
  --text-lg: 28px;
  --text-base: 18px;
  --text-sm: 14px;
}

body {
  background-color: #1B1B1E; /* charcoal */
  color: #E8D7B1; /* goldLumen */
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
